.topHead {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topHead, img {
	height: 100px;
	width: auto;
	margin-left: 75px;
	padding-bottom: 15px;
}

#threeCols {
	display: flex;
}

section img {
	height: 300px;
	width: auto;
	margin-left: -10px;
}

aside {
	background-color: #e5e5e5;
	padding: 10px;
	overflow: scroll;
	max-height: 375px;
	width: 700px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	font-family: arial;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover {
	color: #d1de44;
}

#bigpic img {
	height: 450px;
	width: auto;
	margin-left: 200px;
	padding-top: 30px;
}

#bigpic {
	background-color: #bfbfbf;
}

p {
	font-family: arial;
}

h1 {
	font-family: arial;
}



